<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://git.oschina.net/yonyoutelecom/ospublish/raw/master/keqintong.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://raw.githubusercontent.com/heguoping/yonyoutelecom/master/kqt_small.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>needs-shine</key>
					<false/>
					<key>url</key>
					<string>https://raw.githubusercontent.com/heguoping/yonyoutelecom/master/kqt_big.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.yonyou.yykeqintong</string>
				<key>bundle-version</key>
				<string>4.0.8</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>客勤通</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
